/* Reseta margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
    background-color: #333333; /* Cinza escuro */
    color: #f1f1f1;
    width: 100%;
    padding: 10px 0;
}

/* Menu de navegação */
nav {
    display: flex;
    justify-content: center; /* Centraliza o menu no meio da tela */
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px; /* Espaçamento entre os itens */
}

nav ul li a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

/* Efeito hover para os links */
nav ul li a:hover {
    color: #b0b0b0; /* Cor mais clara no hover */
}
